body {
	margin: 0;
	padding: 0;
	font-family: 'Zeyada', cursive;
	background-color: #000;
}

h1, h2 {
    margin-top: 100px;
	color: grey;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    font-size: 30px;

}
.quote,
.author {
	color: white;
	height: 100%;
	width: 100%;
    font-size: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.quote {
	margin-top: 50px;
	animation: slidein 10s linear;
}

.author {
	margin-top: 75px;
	animation: slidein 25s linear;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      /* width: 300%; */
    }
  
    to {
      margin-left: 0%;
      /* width: 100%; */
    }
  }
